---
import Section from "../Section.astro"

import { certificates } from "@cv"
---
<Section title="Cursos">

        <ul>
            {
            certificates.map(
                ({name, date, issuer}) => {
            // const startYear = new Date(startDate).getFullYear()
            // const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual"
            // const years = `${startYear} - ${endYear}`
            const datePrint = new Date(date).toLocaleDateString('es-ES', { year: 'numeric', month: 'long' })
            const formattedDate = datePrint.replace(/ de /g, ' '); // Reemplaza " de " por un espacio
            return(
                <li>
                    <article>
                        
                            <div>
                                <h4>{name}</h4>
                                <p>{issuer}</p>
                            </div>
                            <time>{formattedDate}</time>
                            
                    </article>
                </li>
            )
            }
            )
            }
        </ul>
    </Section>
    
    <style>
        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        article h4 {
        font-weight: 400;
        color: #222;
        margin-right: 18px;
    }

        article {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    
        time {
            font-size: 0.85em;
            color: #555;
            white-space: nowrap;
        }
    
    </style>

